@import "./loginPage";
@import "./ticketList";
@import "./reminderList";

/* Styles */
#root {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-sefif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  padding-bottom: 10px;

  #logout-button {
    cursor: pointer;
    border: none;
    background: inherit;
  }
}

main {
  section {
    margin-bottom: 30px;
  }
}

.pointer {
  cursor: pointer;
}

.edt-button {
  margin-right: 8px;
}